body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002853;

}

header {
    background-color: transparent;
    height: auto;
    
    margin: 16px;
    margin-bottom: 0px;
    padding: 20px;

    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: bold;

}

header h1, h2 {
    color: white;
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    padding: 20px;

    margin: 10px;
    margin-top: 0px;
    padding: 5px;


}

.barra-lateral {
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;

}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 10px;
}

.barra-lateral .contactanos{
    margin-top: 80%;
    color: white !important;
    font-weight: normal !important;
    background-color: #007bff !important;
}

.barra-lateral button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.barra-lateral button:hover {
    background-color: lightgray;
}

.contenido-central {
    flex: 1;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;

    border-radius: 0px 8px 8px 0px;
}


.contenido-central h2 {
    font-size: 28px;
    margin-top: 0px;
    color: black;
}

.img-portada {
    max-width: 1;
    max-height: auto;
    display: block;
}


table {
    width: 100%;
    height: 600px;
    margin-left: 30vh;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #007bff;
    color: white;
}

table th,
table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    font-size: 1rem;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table img {
    border-radius: 10%;
}

table img:hover {
    transform: scale(1.1);
}

.contenido-central h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.form-contacto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 20px auto;
}

.form-contacto label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-contacto input,
.form-contacto select,
#consulta {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical;
    overflow: hidden;
}

textarea {
    height: auto;
    min-height: 60px;
    max-height: 300px;
}

.form-contacto button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}