body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    margin: 10px;
    background-color: aqua;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: row;
    background-color: lemonchiffon;
    min-height: 70vh;
    margin: 10px; 
    padding: 10px;

    border: 2px solid black;
}

.barra-lateral {
    width: 300px;
    background-color: lavender;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;

}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 10px;
}

.contactanos{
    background-color: lightseagreen;
    margin-top: 80%;
}

.barra-lateral button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.barra-lateral button:hover {
    background-color: lightgray;
}

.contenido-central {
    flex: 1;
    padding: 50px;
    background-color: lightcyan;
    border: 2px solid black;
    box-sizing: border-box;
}

.contenido-central h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.img-portada{
    max-width: fit-content;
    max-height: auto;
    display: block;
}


table {
    width: 100%;
    height: 600px;
    margin-left: 30vh;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #007bff;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    font-size: 1rem;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table img {
    border-radius: 10%;
}

table img:hover {
    transform: scale(1.1);
}